<div class="container">
    <div class="row">   
      <div class="col-8">
        <h1 class="mt-4 mb-4 float-left">Productos</h1>
      </div>    
      <div class="col-4">
        <input (input)="onSearchChange()" placeholder="Buscar por nombre o marca..." [(ngModel)]="word" name="nombre" type="text" class="form-control mt-4 mb-4 float-right" >
      </div>    
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-hover">
                <thead class="thead-mdh">
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Detalles</th>
                    <!-- <th scope="col">Eliminar</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of filtered">
                    <th scope="row">{{p.nombre}}</th>
                    <td [innerHTML]="p.descripcion"></td>
                    <td>{{p.vendor}}</td>
                    <td><button (click)="getVariantes(p.id, p.nombre, p.tags)" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addTienda">Ver</button></td>
                    <!-- <td><button (click)="deleteProduct(p.id)" type="button" class="btn btn-danger btn-sm">Eliminar</button></td> -->
                  </tr>
                </tbody>
              </table>         
        </div>
    </div>
</div>


 <!--         VARIANTES         -->

 <div class="modal fade" id="addTienda" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLongTitle">{{detalleVar}}</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
     
        <table class="table table-hover">
            <thead class="thead-mdh">
              <tr>
                <th scope="col">SKU</th>
                <th scope="col">Precio Odoo</th>
                <th scope="col">Stock</th>
                <th scope="col">Barcode</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let v of variantes;">
                <th scope="row">{{v.sku}}</th>
                <td>{{v.precio_base}}</td>
                <td>{{v.stock}}</td>
                <td>{{v.barcode}}</td>
              </tr>
            </tbody>
          </table>    
          <h3 style="font-weight: bold; text-align:center; margin-top: 25px;">Total Disponible: {{stockTotal}}</h3>
          <p><strong>Categorías:</strong><span *ngFor="let tag of tagsFormat">  {{tag}}, </span></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

