<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4 mb-4 float-right">Mis Tiendas</h1>
        </div>
        <div class="col">
            <button type="button" class="btn float-right btn-primary btn align-middle mt-4 ml-5" data-toggle="modal" data-target="#addTienda">Añadir tienda</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-hover">
                <thead class="thead-mdh">
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Representante</th>
                    <th scope="col">Productos</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let t of tiendas;">
                    <th scope="row">{{t.nombre}}</th>
                    <td>{{current.mail}}</td>
                    <td><button type="button" class="btn btn-secondary btn-sm"  [routerLink]="['/productos-tienda',t.id]">Ver</button></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>